<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../static/css/medlemskap.css">
    <script src="../../static/scripts/medlemskap.js" defer></script>
    <link rel="icon" href = "../../static/images/litengronnlogo.png"
    />
    <title>EDEL - Medlemskap</title>
</head>
<body>
    <header>
        <div class="edelOgLogo">
            <a href="../index.html" class="edelTekst"><h1>EDEL</h1></a>
            <img src="../../static/images/gronnlogo.png" alt="EDEL logo" class="gronnLogoBilde">
        </div>

        <button class="enterNavigasjon">&#8801;</button>

        <div class="navigasjon">
            <div class="overlayHeader">
                <button class="exitNavigasjon">✖</button>
            </div>
            <nav>
                <a href="/">Medlemskap</a>
                <a href="/pages/utlaanssteder">Utlånssteder</a>
                <a href="/pages/omOss">Historie</a>
                <a href="/pages/kjoretoy">Kjøretøy</a>
                <a href="/pages/kontakt">Kontakt</a>
            </nav>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>