/* Base-design for enheter med minst bredde på 320px: */
/* Følger anbefalt "mobile-first" approach. */
body {
    font-family: "Tahoma", "Roboto", "Helvetica", "Arial", sans-serif;
    color: white;
    background-color: #179a92;
    margin: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;
}

.edelOgLogo {
    padding: 0;
    display: flex;
    align-items: center;
}

.edelTekst {
    font-size: 1.5rem;
    text-decoration: none;
    color: inherit;
}

.gronnLogoBilde {
    width: 50px;
    height: auto;
}

.enterNavigasjon {
    font-size: 3.25rem;
    background-color: inherit;
    color: inherit;
    transition: color 0.5s;
    border: none;
    margin-bottom: 5px;
}

.enterNavigasjon:hover {
    cursor: pointer;
    color: #b4e41d;
    transition: color 0.5s;
}

.navigasjon {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height:100vh;

    background-color: #179991;
    z-index: 9999;
    box-sizing: border-box;
    overflow-y: auto;
    flex-direction: column;
}

.navigasjon nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.75rem;
}

.navigasjon nav a {
    font-weight: bold;
    font-size: 1.75rem;
    color: inherit;
    text-decoration: none;
}

.overlayHeader {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 5rem;
}

.exitNavigasjon {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border: none;
    background: inherit;
    transition: color 0.5s
}

.exitNavigasjon:hover {
    cursor: pointer;
    color: #b4e41d;
    transition: color 0.5s;
}

.slogan {
    font-size: 3.8rem;
    max-width: 450px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.knappLesMer {
    font-size: 1.25rem;
    font-weight: bold;
    color: #0c6862;
    background-color: #b4e41d;
    padding: 25px 23px;
    border-radius: 3px 20px 3px 20px;
    border-style: none;
}

.ladekabelerBilde {
    display: none;
}

.mainSeksjon1 {
    margin: 5% 10%;
}

.mainSeksjon2 {
    width: 100%;
    margin-top: 150px;
    padding-top: 100px;
    background-color: white;
}

.dameHundBilde {
    display: block;
    margin: 0 auto;
    width: 90%;
    border-radius: 50px;
}

/* For tablets/desktops: */
@media (min-width: 1025px) {
    .enterNavigasjon {
        display: none;
    }

    .exitNavigasjon {
        display: none;
    }

    header {
        width: auto;
    }

    .navigasjon {
        display: flex;
        position: static;
        width: auto;
        min-height: auto;
        background: none;
        margin: 0;
        padding: 0;
        overflow: visible;
    }

    .navigasjon nav {
        display: flex;
        flex-direction: row;
        gap: 3rem;
    }

    .navigasjon nav a {
        font-size: 1.25rem;
    }

    .overlayHeader {
        width: auto;
        height: auto;
    }
}