<!DOCTYPE HTML>
<html lang="no">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/index.css">
        <script src="../static/scripts/index.js" defer></script>
        <link rel="icon" href = "../static/images/litengronnlogo.png"
        />
        <title>EDEL - Enkel deling, elektrisk leie!</title>
    </head>

    <body>
        <header>
            <div class="edelOgLogo">
                <a href="/" class="edelTekst"><h1>EDEL</h1></a>
                <img src="../static/images/gronnlogo.png" alt="EDEL logo" class="gronnLogoBilde">
            </div>

            <button class="enterNavigasjon">&#8801;</button>

            <div class="navigasjon">
                <div class="overlayHeader">
                    <button class="exitNavigasjon">✖</button>
                </div>
                <nav>
                    <a href="/pages/medlemskap">Medlemskap</a>
                    <a href="/pages/utlaanssteder">Utlånssteder</a>
                    <a href="/pages/omOss">Historie</a>
                    <a href="/pages/kjoretoy">Kjøretøy</a>
                    <a href="/pages/kontakt">Kontakt</a>
                </nav>
            </div>
        </header>

        <main>
            <section class="mainSeksjon1">
                <div class="sloganOgKnapp">
                    <div class="sloganOgLadeBilde">
                        <h2 class="slogan">Enkel deling, elektrisk leie!</h2>
                        <img src="../static/images/ladekabler.jpg" alt="Bilde av ladekabler" class="ladekabelerBilde">
                    </div>
                    <a class="knappLesMer">Mer om medlemskap</a>
                </div>
            </section>

            <section class="mainSeksjon2">
                <img src="../static/images/dameMedHundSmal.jpg" alt="Bilde av dame med hund" class="dameHundBilde">
            </section>
        </main>

        <footer>
        </footer>
    </body>
</html>