<!DOCTYPE HTML>
<html lang="no">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="icon" href = "../static/images/litengronnlogo.png"
        />
        <title>EDEL - Enkel deling, elektrisk leie!</title>
    </head>

    <body>
        <header>
            <div class="edelOgLogo">
                <a href="/" class="edelTekst"><h1>EDEL</h1></a>
                <img src="../static/images/gronnlogo.png" alt="EDEL logo" class="gronnLogoBilde">
            </div>
            <div class="dropdown">
                <button class="dropdownKnapp">Meny</button>
                <div class="sideLinker">
                    <a href="/pages/medlemskap">Medlemskap</a>
                    <a href="/pages/utlaanssteder">Utlånssteder</a>
                    <a href="/pages/omOss">Om oss</a>
                    <a href="/pages/kjoretoy">Våre kjøretøy</a>
                    <a href="/pages/kontakt">Kontakt</a>
                </div>
            </div>
        </header>

        <main>
            <div class="sloganOgLadeBilde">
                <h2 class="slogan">Enkel deling, elektrisk leie!</h2>
                <img src="../static/images/ladekabler.jpg" alt="Bilde av ladekabler" class="ladekabelerBilde">
            </div>
            <button class="knappLesMer">Les mer om medlemskap</button>
        </main>

        <footer>
        </footer>
    </body>
</html>