<!DOCTYPE HTML>
<html lang="no">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content = "width=device-width, initial-scale = 1.0" />
        <link rel="stylesheet" href="../static/css/all.css">
        <link rel="stylesheet" href="../static/css/index.css">
        <link rel="icon" href = "../static/images/litengronnlogo.png"
        />
        <title>EDEL</title>
    </head>

    <body>
        <h1>EDEL</h1>
        <h2>Enkel deling, <br> elektrisk leie!</h2>
    </body>

</html>